################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Fastedit/AppPackages
/Fastedit/BundleArtifacts
/Fastedit/obj/x64/Release
*.xml
/.vs/Fastedit
/Fastedit/Fastedit.csproj.user
/TabGroups.txt
/Fastedit/bin/x64/Release
